<!DOCTYPE html>
<html>

<head>
	<title>Chat</title>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0"/>
	<link rel="stylesheet" href="{{url_for ('static',filename='css/style.css')}}">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
		integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
		integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css"
		href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">

</head>

<body>
	<audio id="audio" src="../static/sound.mp3"></audio>
	<div class="container-fluid h-100">
		<div class="row justify-content-center h-100">
			<div class="col-md-8 col-xl-6 chat">
				<div class="card">
					<div class="card-header msg_head">
						<div class="d-flex bd-highlight">
							<div class="img_cont">
								<img src="{{url_for('static',filename='images/grp_lgo.png')}}"
									class="rounded-circle user_img">
								<span class="online_icon"></span>
							</div>
							<div class="user_info">
								<span>Group Chat</span>
								<p>Messages</p>
							</div>

							<span id="action_menu_btn"><i class="fas fa-ellipsis-v"></i></span>
							<div class="action_menu">
								<ul>
									<li id="my_name"><i class="fas fa-user-circle"></i></li>
									<li id="leave"><i class="fas fa-ban"></i>Leave Room</li>
								</ul>
							</div>
						</div>


					</div>
					<div class="card-body msg_card_body" id="inside_card">

					</div>
					<div class="card-footer">
						<div class="input-group">
							<input type="text" name="" class="form-control type_msg" placeholder="Type your message..."
								id="message">
							<div class="input-group-append">
								<span class="input-group-text send_btn" id="sndbtn"><i
										class="fas fa-location-arrow"></i></span>
							</div>
						</div>
					</div>

				</div>

			</div>
		</div>
	</div>
	<script type="text/javascript"
		src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.2/socket.io.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
	<script src="{{ url_for('static', filename='scripts/jquery.js') }}"></script>
<script defer >
$(document).ready(function () {

$('#action_menu_btn').click(function () {
	$('.action_menu').toggle();
})

var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port);
socket.on('connect', function () {
		socket.emit('join', {});
  

});


$("#leave").on('click', function () {
	socket.emit('leave_room', {}, function () {
		socket.disconnect();
		console.log("here i am logout");
		window.location.href = "{{url_for ('home_page')}}"

	});
});

socket.on('status', function (data) {
	
	$('#inside_card').append("<div id='join_leave' ><p id='para_recv'>" + data.msg + "</p></div>")
});

socket.on('message', function (data) {
	const username=sessionStorage.getItem('myusername');
	const userid=sessionStorage.getItem('myuid');
	if(username==data.user && userid==data.userid){
		$('#inside_card').append("<div class='d-flex justify-content-end mb-4'><div class='msg_cotainer_send'><p id='para'><b>" + data.user + ": </b>"+ data.msg+"</p><span class='msg_time_send'>" + new Date().getHours() + ":" + new Date().getMinutes() + "</span></div><div class='img_cont_msg'><img src='{{url_for('static',filename='images/send.png')}}' class='rounded-circle user_img_msg'></div></div>")
		aud_scroll();
		
	}
	else{
		$('#inside_card').append("<div class='d-flex justify-content-start mb-4'><div class='img_cont_msg'><img src='{{url_for('static',filename='images/recieve.png')}}' class='rounded-circle user_img_msg'></div><div class='msg_cotainer'><p id='para_recv'><b>" + data.user + ":</b> "+ data.msg+"</p><span class='msg_time'>" + new Date().getHours() + ":" + new Date().getMinutes() + "</span></div></div>")
		aud_scroll();
	
}
});

$("#sndbtn").on('click', function () {
	send_message();

});
$("#message").keyup(function (e) {
	if (e.keyCode == 13) {
		send_message();
	}

});
function send_message() {
	socket.send($('#message').val());
	document.getElementById('message').value = '';
	


}
function playaudio(){
	document.getElementById('audio').play();

}
function aud_scroll(){
	playaudio();
	$("#inside_card").stop().animate({ scrollTop: $("#inside_card")[0].scrollHeight }, 1500);
}


});

</script>
</body>

</html>



<!-- //   https://dastan-chat.herokuapp.com -->